@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-position: 30%;
        height: 735px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__header {
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__text {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px; 
            width: 343px;
            &_dop {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
            }
        }
    }
    .img {
        grid-template-columns: repeat(4, 1fr);
        &__content {
            width: 100%;
        }
    }

    .middle {
        flex-direction: column;
        gap: 64px;
        padding-top: 51px;
        padding-bottom: 85px;
    }

    .box {
        display: flex;
        align-items: center;
    }

    .game {
        width: 100%;
    }

    .content {
        flex-direction: column;
        gap: 64px;
        padding-top: 51px;
        padding-bottom: 85px;
        flex-direction: column-reverse;
    }

    .word {
        width: 100%;
    }
}