@media (min-width: 768px) and (max-width: 1210px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-position: center;
        background-size: cover;

    }

    .img {
        grid-template-columns: repeat(8, 1fr);
        &__content {
            grid-column: span 4;
            width: 100%;
        }
    }
    .middle {
        flex-direction: column;
    }

    .game {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .word {
        width: 100%;
    }
}